import React from 'react';
import PropTypes from 'prop-types';
import Metrics from '@cognite/metrics';

const propTypes = {};

const defaultProps = {};

class {{ properCase name }} extends React.Component {
  state = {};

  metrics = Metrics.create({{ properCase name }});

  render() {
    return (
      <h1>{{ properCase name }}</h1>
    );
  }
}

{{ properCase name }}.propTypes = propTypes;
{{ properCase name }}.defaultProps = defaultProps;

export default {{ properCase name }};
