/* eslint-disable react/no-multi-comp */
import React from 'react';
import { storiesOf } from '@storybook/react';
import { action } from '@storybook/addon-actions';

import {{ properCase name }} from './{{ properCase name }}';
import Provider from '../../../.storybook/boilerplate';

storiesOf('{{ properCase name }}', module)
  .addDecorator(story => <Provider story={story} />)
  .add('Base', () => <{{ properCase name }} />)
  .add('Stateful story', () => {
    class Stateful{{ properCase name }} extends React.Component {
      state = {};
      render() {
        return <div><{{ properCase name }} /></div>;
      }
    }
    return <Stateful{{ properCase name }} />;
  });
